VITE_FIREBASE_API_KEY=AIzaSyBEKXzM2N4m-ibpdrIBq8Y3_ZHg01c5-y8
VITE_FIREBASE_AUTH_DOMAIN=ordering-app-33e34.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ordering-app-33e34
VITE_FIREBASE_STORAGE_BUCKET=ordering-app-33e34.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=83623255932
VITE_FIREBASE_APP_ID=1:83623255932:web:ba0135963ca022fac9c699
VITE_FIREBASE_MEASUREMENT_ID=G-3OWPZYQBRB
